.bg-primary {
    background: var(--primary-color) !important;
}

a:hover {
    text-decoration: none;
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out, border-color 0.4s ease-in-out;
}

ul {
    padding-inline-start: 0px;
    margin-bottom: 0;
}

ul,
ol,
li {
    list-style: none;
}

.logo {
    padding: 0;
    margin: 0;
    line-height: 1;
    font-size: 1rem
}

.site-main {
    padding: 50px 0 0 0;
}

article {
    margin-bottom: 20px;
}

h1,
h2 {
    text-transform: uppercase;
    font-weight: 700;
    color: #00335a;
}

h3 {
    text-transform: uppercase;
    font-weight: 600
}

p {
    color: #333;
    font-weight: 400;
    font-size: 15px;
}


/* Owl-Carousel */