@media (min-width: 320px) and (max-width: 1024px) {
    div#navbarNav {
        position: relative;
    }
    button.navbar-toggler {
        background: #fff;
    }
    #header img {
        width: 100px;
    }
    header a.nav-link {
        line-height: 60px;
    }
    header ul .dropdown_ul {
        border: none;
        opacity: 1;
    }
    ul.mega-menu.dropdown_ul {
        display: inherit;
    }
    .container {
        width: 90%;
        max-width: 90%;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
        float: none;
    }
    /* Menu Responsive */
    nav ul {
        margin-right: 0px;
        float: left;
    }
    nav .logo {
        padding-left: 20px;
        width: 100%;
    }
    nav li {
        display: block;
        width: 100%;
    }
    nav ul ul {
        top: 70px;
        position: static;
        border-top: none;
        float: none;
        opacity: 1;
        visibility: visible;
        display: none;
    }
    nav ul ul li {
        width: 100%;
        border-bottom: 0px;
    }
    nav ul ul li a {
        padding-left: 30px !important;
    }
    nav ul ul ul li a {
        padding-left: 60px;
    }
    nav ul ul ul li {
        position: static;
    }
    .show {
        display: block;
        color: #fff;
        font-size: 14px;
        padding: 0px 10px;
        line-height: 50px;
        cursor: pointer;
        text-transform: uppercase;
    }
    .show:hover {
        color: #23af60;
    }
    .icon {
        display: block;
        position: absolute;
        right: 40px;
        font-size: 25px;
        color: #fff;
        line-height: 70px;
        cursor: pointer;
    }
    /* Menu responsive */
    .fix-nav .menu {
        margin: 12px auto;
    }
    .menu {
        cursor: pointer;
        display: block;
        margin-top: 25px;
        width: 30px;
        height: 30px;
        position: relative;
        transition: all 0.2s;
        -moz-transition: all 0.2s;
        -webkit-transition: all 0.2s;
    }
    .menu span {
        border-top: 4px solid #fff;
        width: 100%;
        position: absolute;
    }
    .menu .menu-top,
    .menu .menu-middle,
    .menu .menu-bottom {
        -moz-transition: all 0.2s;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
    }
    .menu .menu-top-click,
    .menu .menu-middle-click,
    .menu .menu-bottom-click {
        -moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        backface-visibility: hidden;
    }
    .menu .menu-bottom {
        top: 0;
    }
    .menu .menu-middle {
        top: 10px;
    }
    .menu .menu-bottom {
        top: 20px;
    }
    .menu:hover .menu-middle {
        top: 12px;
    }
    .menu:hover .menu-bottom {
        top: 24px;
    }
    .menu .menu-top-click {
        -webkit-transform: rotate(50deg);
        /* Chrome, Safari, Opera */
        transform: rotate(50deg) translate3d(5px, 10px, 0);
        top: 0px;
    }
    .menu .menu-middle-click {
        opacity: 0;
    }
    .menu .menu-bottom-click,
    .menu:hover .menu-bottom-click {
        -webkit-transform: rotate(-410deg);
        /* Chrome, Safari, Opera */
        transform: rotate(-410deg) translate3d(5px, -10px, 0);
        top: 20px;
    }
    /* Menu responsive */
    .fix-nav .show {
        padding: 0px;
    }
    .fix-nav .icon {
        line-height: 50px;
    }
    .fix-nav .ul>li>a {
        line-height: 50px;
        font-size: 14px;
        padding: 0;
    }
    .fix-nav nav ul {
        margin-top: 10px;
    }
    nav ul a:hover {
        box-shadow: none !important;
    }
    .show+a,
    ul {
        display: none;
    }
    .show+li,
    header a {
        display: block;
    }
    [id^=btn]:checked+ul {
        display: block;
    }
    label[for^="btn-3"] {
        line-height: 50px;
        padding: 0px 12px 0px 30px;
    }
    label {
        margin-bottom: 0px;
    }
    nav .ul>li>a {
        line-height: 35px;
        font-weight: normal;
    }
    .search-content {
        min-width: 100%;
    }
    header a.search-active {
        cursor: pointer;
        display: inherit;
        align-items: inherit;
        justify-content: inherit;
        height: inherit;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    #tongquan p {
        text-align: justify;
        height: 100%;
    }
    #why-should-choose p {
        text-align: justify !important;
        height: 100% !important;
    }
    .content-right-wrap {
        text-align: justify;
    }
    #gt_canho .text-block {
        padding-top: 20px;
    }
    .flex-colum {
        margin-bottom: 30px;
    }
    .textwidget {
        text-align: center;
    }
    #footer .right-content {
        padding: 15px;
    }
    #multi-item h3.card-title {
        height: auto;
    }
    h1 {
        font-size: calc(18px + ( 24 - 18) * ((100vw - 300px) / (480-300))) !important;
    }
    h2 {
        font-size: calc(16px + ( 24 - 16) * ((100vw - 300px) / (480-300))) !important;
    }
    h3 {
        font-size: calc(16px + ( 24 - 16) * ((100vw - 300px) / (480-300))) !important;
    }
    p {
        font-size: calc(14px + ( 18 - 14) * ((100vw - 300px) / (480-300))) !important;
        text-align: justify;
    }
    .form-label-group label {
        font-size: calc(14px + ( 16 - 14) * ((100vw - 300px) / (480-300))) !important;
    }
    body {
        font-size: calc(14px + ( 24 - 14)* ((100vw - 300px) / (480-300)));
    }
    #myModal p {
        line-height: 23px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    h1 {
        font-size: calc(22px + ( 24 - 22) * ((100vw - 300px) / (767 - 300))) !important;
    }
    h2 {
        font-size: calc(18px + ( 24 - 18) * ((100vw - 300px) / (767 - 300))) !important;
    }
    h3 {
        font-size: calc(16px + ( 24 - 16) * ((100vw - 300px) / (767 - 300))) !important;
    }
    p {
        font-size: calc(14px + ( 18 - 14) * ((100vw - 300px) / (767 - 300))) !important;
        text-align: justify !important;
    }
    .form-label-group label {
        font-size: calc(14px + ( 16 - 14) * ((100vw - 300px) / (767 - 300))) !important;
    }
    body {
        font-size: calc(14px + ( 24 - 14)* ((100vw - 300px) / (767 - 300)));
    }
    #myModal p {
        line-height: 23px;
    }
    #myModal p {
        text-align: center !important;
    }
    .container {
        width: 90%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    h1 {
        font-size: calc(23px + ( 26 - 23) * ((100vw - 300px) / (1024 - 300))) !important;
    }
    h2 {
        font-size: calc(21px + ( 24 - 21) * ((100vw - 300px) / (1024 - 300))) !important;
    }
    h3 {
        font-size: calc(14px + ( 16 - 14) * ((100vw - 300px) / (1024 - 300))) !important;
    }
    p {
        font-size: calc(15px + ( 17 - 15) * ((100vw - 300px) / (1024 - 300))) !important;
        text-align: justify !important;
    }
    .form-label-group label {
        font-size: calc(14px + ( 16 - 14) * ((100vw - 300px) / (1024 - 300))) !important;
    }
    #myModal p {
        line-height: 23px;
    }
    #myModal p {
        text-align: center !important;
    }
    body {
        font-size: calc(14px + ( 24 - 14)* ((100vw - 300px) / (1024 - 300)));
    }
    #multi-item h3.card-title {
        max-height: 183px;
        min-height: 165px;
    }
}