        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
         :root {
            --primary-color: #1885dc;
            --input-padding-x: .75rem;
            --input-padding-y: .75rem;
        }
        
        body {
            line-height: 1.74;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            visibility: visible;
            font-family: 'Roboto', sans-serif;
            color: #696969;
            position: relative;
            background-color: #fff;
        }
        
        header {
            background: #0c2e40;
            padding: 0px;
            top: 0;
            width: 100%;
            z-index: 999;
            left: 0;
            transition: all .3s ease 0s;
            animation: 700ms ease-in-out 0s normal none 1 running fadeInDown;
            box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.06);
        }
        /* Menu */
        
        nav:after {
            content: '';
            clear: both;
            display: table;
        }
        
        nav .logo {
            font-size: 26px;
            color: #fff;
            font-weight: 600;
            line-height: 70px;
            float: left;
        }
        
        nav ul {
            float: right;
            list-style-type: none;
            margin-right: 40px;
            position: relative;
        }
        
        nav ul li {
            float: left;
            display: inline-block;
            margin: 0 5px;
        }
        
        nav .ul>li>a {
            text-decoration: none;
            line-height: 91px;
            padding: 9px 12px;
            text-transform: uppercase;
            font-weight: bold;
            color: #fff !important;
            font-size: 14px;
        }
        
        nav .ul1>li>a {
            color: #fff;
            text-align: left;
            padding: 8px 15px;
            font-size: 13px;
            display: block;
        }
        
        nav .ul>li>a:hover {
            color: #23af60 !important;
        }
        
        nav .ul1 {
            min-width: 220px;
        }
        
        nav ul ul {
            list-style: none;
            visibility: hidden;
            opacity: 0;
            position: absolute;
            background: #0c2e40;
            transition: all 0.4s ease-out;
            margin-top: 35px;
            border-top: 2px solid #23af60;
        }
        
        nav ul li:hover>ul {
            opacity: 1;
            visibility: visible;
            pointer-events: visible;
            transform: translate(0, -35px);
            z-index: 9999;
        }
        
        nav ul ul li {
            position: relative;
            margin: 0;
            float: none;
            display: list-item;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            z-index: 99999;
        }
        
        nav ul ul li:hover a {
            color: #fff !important;
            box-shadow: none;
            background: #23af60;
        }
        
        nav ul ul ul li {
            position: relative;
            top: -70px;
            left: 150px;
        }
        
        span.fa.fa-plus {
            float: right;
            line-height: 50px;
            padding: 0px 12px;
        }
        
        .show,
        .icon,
        header input {
            display: none;
        }
        /*         
        header nav.navbar.navbar-expand-lg.navbar-light {
            padding: 0;
        }
        
        div#navbarNav {
            position: absolute;
            right: 0;
        }
        
        header a.nav-link {
            text-transform: uppercase;
            font-weight: bold;
            color: #fff !important;
            font-size: 14px;
            height: auto;
            line-height: 91px;
            padding: 0px 13px !important;
        }
        
        header nav ul li:hover a.nav-link {
            color: #23af60 !important;
        } */
        
        header form button.button-search:hover {
            background: #23af60;
        }
        /* header ul .dropdown_ul {
            border-top: 2px solid #23af60;
            list-style: none;
            visibility: hidden;
            opacity: 0;
            position: absolute;
            background: #0c2e40;
            transition: all 0.4s ease-out;
            margin-top: 35px;
            width: 220px;
        }
        
        header ul .dropdown_ul li:hover>a {
            background: #23af60;
        }
        
        header ul .dropdown_ul a {
            color: #fff;
            text-align: left;
            line-height: 23px;
            padding: 8px 15px;
            font-size: 13px;
            display: block;
        }
        
        header li.nav-item:hover ul.dropdown_ul {
            opacity: 1;
            visibility: visible;
            pointer-events: visible;
            transform: translate(0, -35px);
            z-index: 9999;
        } */
        
        header a.search-active {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 90px;
        }
        
        .search-content {
            min-width: 300px;
            position: absolute;
            right: 0;
            top: auto;
            padding: 15px;
            background: #fff;
            box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.1);
            z-index: 99;
            display: none;
        }
        
        .search-content form {
            position: relative;
        }
        
        .search-content form input {
            width: 100%;
            padding: 5px 72px 5px 15px;
            height: 45px;
            color: #333;
            font-size: 14px;
            border-radius: 3px;
            border: 1px solid #d3d3d3;
            background: transparent;
            transition: all 0.4s ease 0s;
            box-shadow: none;
            outline: none;
            display: inherit !important;
        }
        
        .search-content form button.button-search {
            height: 45px;
            width: 45px;
            border: none;
            color: #fff;
            background-color: #0c2e40;
            font-size: 17px;
            line-height: 50px;
            position: absolute;
            right: 0;
            top: 0px;
            transition: all 0.4s ease 0s;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            cursor: pointer;
        }
        /* Tổng Quan */
        
        #tongquan .container {
            padding: 0 0 50px 0;
        }
        
        .site-main .header-main {
            text-align: center;
            margin-bottom: 30px;
        }
        
        .site-main .header-main h1 {
            margin-bottom: 2rem;
            font-size: 2rem;
        }
        
        .site-main .header-main p.header-text-bottom {
            font-size: 15px;
            color: #333;
            font-weight: 500;
            font-style: italic;
            letter-spacing: 0.1px;
        }
        
        .description-right {
            text-align: justify;
        }
        
        .description-right h2 {
            font-size: 1.4rem;
            margin-bottom: 15px;
        }
        
        .description-right ul {
            padding-left: 20px;
            color: #333;
            font-style: italic;
        }
        
        .description-right ul li {
            margin-bottom: 10px;
            list-style: initial;
        }
        
        .description-right ul li strong {
            color: #0c2e40;
        }
        
        #carousel-thumbs {
            background: rgba(12, 46, 64, .6);
            padding: 0 50px;
        }
        
        #carousel-thumbs img {
            border: 3px solid transparent;
            cursor: pointer;
        }
        
        #carousel-thumbs img:hover {
            border-color: rgba(255, 255, 255, .3);
        }
        
        a.carousel-control-prev,
        a.carousel-control-next {
            width: 50px;
        }
        
        #carousel-thumbs-1 {
            background: rgba(12, 46, 64, .6);
            padding: 0 50px;
        }
        
        #carousel-thumbs-1 img {
            border: 3px solid transparent;
            cursor: pointer;
        }
        
        #carousel-thumbs-1 img:hover {
            border-color: rgba(255, 255, 255, .3);
        }
        
        p.note-bottom {
            margin-top: 15px;
            font-style: italic;
        }
        /* Tại sao nên chọn */
        
        #why-should-choose {
            background-color: #f1f1f3;
        }
        
        #why-should-choose .container {
            padding: 50px 0px;
        }
        
        #why-should-choose h1 {
            margin-bottom: 2rem;
            font-size: 1.6rem;
            color: #0c2e40;
            text-align: center;
            margin-bottom: 45px;
        }
        
        #why-should-choose .left-colum i {
            float: left;
            margin-right: 4%;
            height: 60px;
            width: 60px;
            line-height: 62px;
            font-size: 24px;
            text-align: center;
            border-radius: 100%;
            position: relative;
            z-index: 5;
            color: #fff;
            background: #edae44;
        }
        
        #why-should-choose ul li {
            display: table;
        }
        
        #why-should-choose ul li svg {
            width: 30px;
        }
        
        #why-should-choose .content-wrap {
            display: table-cell;
        }
        
        #why-should-choose .content-wrap h2 {
            font-size: 19px;
        }
        
        #why-should-choose .content-wrap p.des-wrap {
            color: #555;
            text-align: justify;
            height: 120px;
        }
        
        #why-should-choose .right-colum {
            padding-left: 30px;
        }
        
        #why-should-choose .right-colum i {
            float: left;
            margin-right: 4%;
            height: 60px;
            width: 60px;
            line-height: 62px;
            font-size: 24px;
            text-align: center;
            border-radius: 100%;
            position: relative;
            z-index: 5;
            color: #fff;
            background: #d0d0d0;
        }
        /* Vị trí */
        
        section.located .container-fluid .vitri {
            padding: 0px;
        }
        
        section.located .images-wrap img {
            width: 100%;
            height: 100%;
        }
        
        section.located .right-colum {
            background: linear-gradient(#fce36f, #fbe06d, #fdd76a, #fad167, #f9ca60);
        }
        
        section.located .right-colum .content-right-wrap {
            padding: 50px 30px;
        }
        
        section.located .right-colum h1 {
            margin-bottom: 2rem;
            font-size: 2rem;
            text-align: center;
        }
        
        section.located .right-colum h3 {
            color: #333;
            font-size: 20px;
            font-weight: 600;
            text-transform: capitalize;
        }
        
        section.located .right-colum .ul1 {
            padding-left: 25px;
        }
        
        section.located .right-colum .ul1 li {
            list-style: initial;
            color: #333;
        }
        
        section.located .right-colum .ul2 {
            padding-left: 25px;
        }
        
        section.located .right-colum .ul2 li {
            list-style: initial;
            color: #333;
            margin-bottom: 5px;
        }
        
        section.located .right-colum .ul2 li strong {
            font-size: 17px;
        }
        
        #hesinhthai {
            background-color: #f1f1f3;
        }
        
        #hesinhthai .container {
            padding: 60px 0px 80px 0px;
        }
        /* Giới thiệu căn hộ Vinhomes */
        
        .owl-nav button {
            border: none!important;
            outline: none!important;
        }
        
        .owl-prev,
        .owl-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            color: #fff!important;
            font-size: 60px!important;
            font-weight: bolder!important;
            opacity: 0;
            visibility: hidden;
            transform: translateY(-50%);
            transition: all 0.3s ease 0s;
        }
        
        .owl-prev {
            left: 1%;
        }
        
        .owl-next {
            right: 1%;
        }
        
        .owl-dots {
            width: 100%;
            text-align: center;
            position: absolute;
            bottom: 1%;
        }
        
        .owl-theme .owl-nav [class*='owl-']:hover {
            background: none!important;
        }
        
        .home-owl:hover .owl-carousel>.owl-nav button {
            opacity: 1;
            visibility: visible;
        }
        
        .owl-theme .owl-dots .owl-dot.active span,
        .owl-theme .owl-dots .owl-dot:hover span {
            background: #fff!important;
        }
        /* Tin Tức */
        
        #tintuc {
            background: #f1f1f3;
        }
        
        #tintuc .container {
            padding: 60px 0px;
        }
        
        #tintuc h1 {
            font-size: 1.5rem;
        }
        /* Form đăng ký nhận tin */
        
        .form-sign-up .form-label-group {
            position: relative;
            margin-bottom: 1rem;
        }
        
        .form-sign-up .form-label-group>input,
        .form-sign-up .form-label-group>label {
            padding: var(--input-padding-y) var(--input-padding-x);
        }
        
        .form-sign-up .form-label-group>label {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            margin-bottom: 0;
            line-height: 1.5;
            color: #495057;
            border: 1px solid transparent;
            border-radius: .25rem;
            transition: all .1s ease-in-out;
        }
        
        .form-sign-up .form-label-group input::placeholder {
            color: transparent;
        }
        
        .form-sign-up .form-label-group textarea::placeholder {
            color: transparent;
        }
        
        .form-sign-up .form-label-group input:not(:placeholder-shown) {
            padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
            padding-bottom: calc(var(--input-padding-y) / 3);
        }
        
        .form-sign-up .form-label-group input:not(:placeholder-shown)~label {
            padding-top: calc(var(--input-padding-y) / 3);
            padding-bottom: calc(var(--input-padding-y) / 3);
            font-size: 12px;
            color: #777;
        }
        
        .form-sign-up .form-label-group textarea:not(:placeholder-shown) {
            padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
            padding-bottom: calc(var(--input-padding-y) / 3);
        }
        
        .form-sign-up .form-label-group textarea:not(:placeholder-shown)~label {
            padding-top: calc(var(--input-padding-y) / 3);
            padding-bottom: calc(var(--input-padding-y) / 3);
            font-size: 12px;
            color: #777;
        }
        
        .form-sign-up p {
            text-align: center;
        }
        
        .form-sign-up button.btn.btn-md.btn-info {
            padding: 0.375rem 1.05rem;
            text-transform: uppercase;
        }
        /* Footer */
        
        #footer {
            background-color: #0c2e40;
            color: #fff;
        }
        
        #footer .container {
            padding: 50px 0px;
        }
        
        #footer .textwidget a {
            color: #fff;
        }
        
        #footer .titile-footer {
            font-size: 19px;
            margin-bottom: 20px;
        }
        
        #footer p {
            color: #fff;
        }
        
        #footer .thumb-images img {
            width: 100%;
        }
        
        #footer .right-content {
            padding: 0px;
        }
        
        #footer .right-content p {
            margin-bottom: 0px;
        }
        
        #footer p.note {
            font-style: italic;
            font-size: 14px;
            letter-spacing: 0.3px;
        }
        
        #footer p.time-line {
            font-size: 12px;
        }
        
        #footer p.title {
            font-size: 13px;
            font-weight: 600;
        }
        
        .col-md-10.right-content {
            margin-top: -5px;
        }
        /* Form thông tin footer */
        
        .form-information .form-label-group {
            position: relative;
            margin-bottom: 1rem;
        }
        
        .form-information .form-label-group>input,
        .form-information .form-label-group>label {
            padding: var(--input-padding-y) var(--input-padding-x);
        }
        
        .form-information .form-label-group>label {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            margin-bottom: 0;
            line-height: 1.5;
            color: #495057;
            border: 1px solid transparent;
            border-radius: .25rem;
            transition: all .1s ease-in-out;
        }
        
        .form-information .form-label-group input::placeholder {
            color: transparent;
        }
        
        .form-information .form-label-group textarea::placeholder {
            color: transparent;
        }
        
        .form-information .form-label-group input:not(:placeholder-shown) {
            padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
            padding-bottom: calc(var(--input-padding-y) / 3);
        }
        
        .form-information .form-label-group input:not(:placeholder-shown)~label {
            padding-top: calc(var(--input-padding-y) / 3);
            padding-bottom: calc(var(--input-padding-y) / 3);
            font-size: 12px;
            color: #777;
        }
        
        .form-information button.btn.btn-lg.btn-block.btn-success {
            font-size: 17px;
            text-transform: uppercase;
        }
        
        #footer-bottom {
            background: #09212d;
        }
        
        #footer-bottom p,
        #footer-bottom a {
            color: #fff;
            font-size: 13px;
        }
        
        #footer-bottom p {
            margin-bottom: 0;
        }
        
        #footer-bottom .container {
            padding: 13px 0px;
        }
        
        #toTop {
            position: fixed;
            right: 25px;
            bottom: 50px;
            z-index: 99999;
        }
        
        #toTop i {
            background: #09212dbf;
            padding: 14px;
            opacity: 0.4;
            cursor: pointer;
        }
        
        #toTop i:hover {
            opacity: 1;
            transition: all 0.3s ease-out 0s;
        }
        
        #header {
            transition: all ease 1s;
            -webkit-transition: all ease 1s;
            -moz-transition: all ease 1s;
            -o-transition: all ease 1s;
            top: 0;
            left: 0;
            right: 0;
        }
        
        .fix-nav {
            position: fixed !important;
            top: 0;
            left: 0;
            right: 0;
            padding-top: 0 !important;
            transition: all ease 1s;
            -webkit-transition: all ease 1s;
            -moz-transition: all ease 1s;
            -o-transition: all ease 1s;
        }
        
        .fix-nav ul li .search-active {
            height: 47px !important;
        }
        
        .fix-nav img {
            height: 45px;
        }
        
        .fix-nav .logo {
            line-height: inherit;
        }
        
        .fix-nav .ul>li>a {
            color: #fff;
            text-decoration: none;
            line-height: 47px;
            font-size: 13px;
            padding: 15px 12px;
        }
        
        #gt_canho .container {
            padding: 60px 0px;
        }
        
        #multi-item h3.card-title {
            font-size: 1rem;
            text-transform: capitalize;
            color: #333;
            padding: 10px 5px;
            height: 125px;
        }
        
        #multi-item .carousel-indicators {
            bottom: -2em;
        }
        
        .controls-top i {
            position: absolute;
            top: 50%;
            /* transform: translateY(-50%); */
            color: #ffffff!important;
            font-size: 10px!important;
            padding: 20px;
            font-weight: bolder!important;
            transform: translateY(-50%);
            transition: all 0.3s ease 0s;
            z-index: 999999;
            background: #3d3c3ca8;
        }
        
        .fa-chevron-left {
            left: 1%;
        }
        
        .fa-chevron-right {
            right: 1%;
        }
        
        .carousel-multi-item .carousel-indicators .active {
            width: 1rem;
            max-width: 1rem;
            height: 1rem;
            background-color: #4285f4;
            border-radius: 50%;
        }
        
        .carousel-multi-item .carousel-indicators li {
            width: 0.85rem;
            max-width: 0.85rem;
            height: 0.85rem;
            margin-bottom: -3.75rem;
            background-color: #4285f4b3;
            border-radius: 50%;
        }
        
        .wrapper {
            position: relative;
        }
        
        .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
            display: none;
        }
        /* Popup Modal */
        
        #myModal {
            z-index: 99999999;
        }
        
        #myModal .modal-body {
            padding: 0;
        }
        
        #myModal .modal-dialog {
            max-width: 440px;
            margin: 3.75rem auto;
        }
        
        #myModal .formWrap {
            padding: 35px 45px;
            text-align: center;
        }
        
        #myModal h1 {
            font-size: 26px;
            margin-bottom: 10px;
        }
        
        #myModal hr {
            width: 50px;
            height: 2px;
            background: #ff5722;
            border: none;
        }
        
        #myModal form {
            margin-top: 35px;
        }
        
        #myModal input {
            width: 100%;
            height: 45px;
            padding: 0 10px;
            border: 1px solid #e2e2e2;
            margin-bottom: 10px;
        }
        
        #myModal input:focus {
            outline: #FF5722;
            border-color: #FF5722 !important;
        }
        
        #myModal .submit {
            background: #FF5722;
            color: #fff;
            border: none;
        }
        
        #myModal p {
            margin-bottom: 0;
        }